/ManejoOperadores/nbproject/private/
/ManejoOperadores/build/
/PrecedenciaOperadores/nbproject/private/
/PrecedenciaOperadores/build/
/EjemploIf/nbproject/private/
/EjemploIf/build/
/CalculaMes/nbproject/private/
/CalculaMes/build/
/CalculaMesSwitch/nbproject/private/
/CalculaMesSwitch/build/
/CicloWhile/nbproject/private/
/CicloWhile/build/
/CicloWhileV2/nbproject/private/
/CicloDoWhile/nbproject/private/
/CicloFor/nbproject/private/
/CicloFor/build/
/CreacionClasesObjetos/nbproject/private/